/* INDEX

LAYOUT
BASIC TYPOGRAPHY
RESPONSIVE FEATURES
AVATARS
LEADERBOARD
HEADER
SIDEBAR
CONTENT COLUMN
FOOTER
USEFUL STUFF

*/

/* LAYOUT */

#leaderboard_container {
    background:#ddd;
    padding:10px 0;
	width:100%;
}


/* BASIC TYPOGRAPHY */

body {
    color:#111;
	font-family:'Source Sans Pro','HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.Column h1,
.Column h2,
.Column h3,
.Column h4,
.Column h5,
.Column h6,
.Column .Title a {
    color:#333;
	font-family:'Roboto Slab','Droid Sans','Lucida Grande',Tahoma,sans-serif;
	font-weight:bold;
}


/* RESPONSIVE FEATURES */

/* Leaderboard width (728px) */

@media only screen and (max-width: 727px) {

    #leaderboard_container {
		display:none !important;
	}

}


/* AVATARS */

img.ProfilePhotoMedium {
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
}

img.ProfilePhotoLarge {
	border-radius:100px;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
}

.Profile img.ProfilePhotoLarge {
	display:block;
	margin:0 auto;
}

a.PhotoWrap:hover img {
	opacity:.5;
}


/* LEADERBOARD */

#div-gpt-ad-1357830708450-0 {
	height:90px;
    margin:0 auto;
	width:728px;
}


/* HEADER */

#Head {
    background:#111;
    padding:0 !important;
}

#title {
  background:url('http://cdn.vanillaforums.com/lawyeristlab.vanillaforums.com/3G962GHBQZ7E.jpg') no-repeat left center;
	display:inline-block;
	float:left;
	font-size:10px;
	line-height:1em;
	margin:0 10px 0 0;
	padding:0;
	width:310px;
}

	#title a {
		display:inline-block;
		height:38px;
		margin:10px 0;
		padding:0;
		text-indent:-9999px;
		width:100%;
	}

#blog_forum_nav {
  display:inline-block;
	float:left;
}

	#blog_forum_nav ul {
		display:block;
		list-style:none;
		margin:13px 0 0 0;
		padding:0;
	}

	#blog_forum_nav li {
		display:inline-block;
		margin:0;
		padding:0;
	}

	#blog_forum_nav li.nav_blog,
  #blog_forum_nav li.nav_lab {
	}

	#blog_forum_nav a {
		border-radius:2px;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		color:#004d9f;
		display:block;
		font-size:18px;
		font-weight:bold;
		letter-spacing:1px;
		line-height:1em;
		margin:0;
		padding:7px 10px;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;
	}

	#blog_forum_nav a:hover {
		background-color:#444;
		color:#1e79a7;
	}

	#blog_forum_nav li.nav_lab a {
		color:#aaa;
	}

	#blog_forum_nav li.nav_lab a:hover {
		color:#ccc;
	}

	/*------------------------------
	Newsletter Signup
	------------------------------*/

	#email_social {
		display:inline-block;
		float:right;
		margin-top:13px;
	}

		#email_social ul {
			display:block;
			list-style:none;
			margin:0;
		}

			#email_social ul li {
				display:inline-block;
				margin:0;
				padding:0;
			}

				#email_social form#lawyerist_insider_subscribe {
					margin:0;
				}

				#email_social form#lawyerist_insider_subscribe input[type="text"] {
					box-sizing:content-box;
					background:#ffffb3;
					border:0;
          border-radius:2px;
          box-shadow:inset 0 .1rem .3rem 0 rgba(0,0,0,0.17);
					color:#222;
					display:block;
          font-family:"Source Sans Pro",sans-serif;
					font-size:16px;
					margin:0;
					padding:6px 8px !important;
					width:222px;
				}

        #email_social form#lawyerist_insider_subscribe input[type="text"]:focus {
          box-shadow:0 0 .3rem rgba(0,0,0,.2);
        }

				#email_social form#lawyerist_insider_subscribe input[type="text"]:focus {
					background:#fff;
					color:#222;
				}

				#email_social form#lawyerist_insider_subscribe label {
          display:block;
					height:0;
          margin:0;
          padding:0;
					text-indent:-99999px;
				}


.MeBox {
  float:right;
  margin-left:15px;
	width:152px;
}

	.MeBox a.PhotoWrap {
		display:inline-block;
		margin:0;
	}

    .MeBox a.Username {
    	display:inline-block;
    	float:right;
    	font-size:16px;
    	line-height:1em;
    }

    .MeBox a.Username:hover {
    	color:#ddd !important;
    }

     .MeMenu {
    	display:inline-block;
    	float:right;
    }

     #Head .MeMenu a {
    	font-weight:normal;
    }

    	.MeMenu a.MeButton {
    		margin-left:10px;
    		padding:0;
    	}

    	#Head .MeMenu ul.PopList li.Item a {
    		color:#004d9f;
    	}

    	#Head .MeMenu ul.Poplist li.Item:hover {
    		background:rgba(0, 0, 0, 0.1);
    	}

		.MeMenu .Sprite16 {
			background-image:url('http://vanillicon.com/sprites/sprites-14-ffffff.png') !important;
		}

		.MeMenu .Sprite16:hover {
			background-image:url('http://vanillicon.com/sprites/sprites-14-dddddd.png') !important;
		}

    	.MeMenu .SpNotifications {
    		background-position:-160px -100px;
    	}

    	.MeMenu .SpInbox {
    		background-position:-100px -100px;
    	}

    	.MeMenu .SpBookmarks {
    		background-position:-80px -80px;
    	}

    	.MeMenu .SpOptions {
    		background-position:-180px -60px;
    	}


.breadcrumbs_row {
    background:#1e79a7;
    margin-bottom:20px;
    overflow:visible;
    width:100%;
}

    .BreadcrumbsWrapper {
        margin:0 auto;
        max-width:980px;
    }

    .BreadcrumbsWrapper a {
        color:#fff;
        display:inline-block;
        font-size:14px;
        line-height:1em;
        padding:7px 10px 8px 10px;
    }

    .BreadcrumbsWrapper a:hover {
        background:#1a678f;
        color:#fff;
    }

    .BreadcrumbsWrapper .Crumb {
        color:#eee;
    }


/* SIDEBAR */

#Panel {
    width:300px;
}

#Panel .BoxDiscussionFilter {
	margin-bottom:20px;
}

#lawyerist_sidebar_search {
    margin-bottom:20px;
}

#lawyerist_sidebar_search input#st-search-input {
	border-radius:2px !important;
    -moz-border-radius:2px !important;
	-webkit-border-radius:2px !important;
	font-size:16px !important;
	height:30px;
	margin:0;
	width:298px !important;
}

ul.sidebar_ads {
    list-style:none;
	margin:0 0 20px 0;
}

ul.sidebar_ads li {
	margin-bottom:10px;
	width:300px;
}


/* CONTENT COLUMN */

#Body .ContentColumn {
    margin-left:330px;
}

.ContentColumn .Excerpt,
.ContentColumn .Message {
	font-size:16px !important;
}

.Item .Reactions > * {
  visibility:visible;
}

.NumberedPager a,
.NumberedPager .Ellipsis,
.NumberedPager .Previous,
.NumberedPager .Next {
	display:inline-block;
	font-size:14px;
	font-weight:200;
	height:24px;
	margin:0 4px 0 0;
	min-width:24px;
	padding:0;
	text-align:center;
}

.NumberedPager a {
	background-color:#eee;
	border-radius:12px;
    -moz-border-radius:12px;
	-webkit-border-radius:12px;
	color:#1a678f !important;
}

.NumberedPager a:hover {
	background-color:#ddd;
	color:#004d9f !important;
}

.PageControls {
	margin:10px 0;
}

.PageTitle h1,
.Column .Title a {
	font-size:24px !important;
	line-height:35px !important;
}


/* FOOTER */


#footer {
  min-height:160px;
  padding:26px;
}

.PoweredByVanilla {
	display:none;
}

#footer a {
	color:#1a678f;
	text-decoration:underline;
}

#footer a:hover {
	color:#004d9f;
	text-decoration:none;
}

#footer p {
	color:#666;
	font-size:16px;
	line-height:26px;
	margin:0 0 26px 0;
}

#footer #footer_text {
	padding-left:157px;
	text-align:left;
}

#footer #footnotes {
	text-align:right;
}


/* USEFUL STUFF */

.alignleft {
	float:left;
}

.alignright {
	float:right;
}

.clear {
	clear:both;
}

.remove_bottom {
	margin-bottom:0 !important;
}
