/* INDEX

Load Fonts
Layout
Typography
Avatars
Leaderboard
Header
Breadcrumbs
Content
Sidebar
Footer
Useful Stuff

*/


/*------------------------------
Layout
------------------------------*/

html {
  font-size:62.5%;
}

#leaderboard_container {
  background: #ddd;
  padding: 10px 0;
  width: 100%;
}

  /* Leaderboard width (728px) */

  @media only screen and (max-width: 727px) {

      #leaderboard_container {
        display:none !important;
      }

  }


/*------------------------------
Typography
------------------------------*/

/* Concourse is the default font. */
body {
  color: #111;
	font-family: concourse, sans-serif;
  font-variant-ligatures: common-ligatures;
}


/* Things that use Concourse for headings */
h1,
h2,
h3,
h4,
h5,
h6,
.Title a {
  font-family: concourse-headings, sans-serif;
}


/* Things that use Equity */
.AlertMessage,
.Excerpt,
input,
.Message,
.PageDescription,
select,
textarea {
  font-family: equity, serif;
}

input,
select,
textarea {
  font-family: equity, serif !important;
}


/* Things that use Triplicate */
code,
pre {
  font-family: triplicate, monospace;
}

/* Font overrides */
input[type="button"],
input[type="submit"],
#Panel input#Form_Search {
  font-family: concourse, sans-serif !important;
}

/* Typography */
a,
#Foot a {
	color: #1e79a7;
	text-decoration: none;
}

a:hover,
a:focus,
#Foot a:hover,
#Foot a:focus {
	color: #1a678f;
	text-decoration: underline;
}

.Title a {
  color: #111;
}


/*------------------------------
Avatars
------------------------------*/

img.ProfilePhotoMedium {
  border-radius:20px;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
}

img.ProfilePhotoLarge {
  border-radius:100px;
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
}

.Profile img.ProfilePhotoLarge {
  display:block;
  margin:0 auto;
}

a.PhotoWrap:hover img {
  opacity:.5;
}


/*------------------------------
Leaderboard
------------------------------*/

#div-gpt-ad-1429843825352-0 {
  height:90px;
    margin:0 auto;
  width:728px;
}


/*------------------------------
Header
------------------------------*/

#Head {
    background: #111;
    padding: 0 !important;
}

#title {
	display: block;
	float: left;
  font-size: 32px;
  font-family: 'adler', serif;
  height: 32px;
  line-height: 1.2;
  margin: 12px  0;
  padding: 0;
	width: auto;
}

	a#title {
    color: #fff;
		display: block;
    font-weight: normal;
	}

  a#title:hover,
  a#title:focus {
    color: #ddd;
    text-decoration: none;
  }

.MeBox {
  float:right;
  margin:8px 0 8px 15px;
  width:152px;
}

  .MeBox a.PhotoWrap {
    display:inline-block;
    margin:0;
  }

    .MeBox .PhotoWrap img {
      border: 1px solid white;
      height: 38px;
      width: 38px;
    }

    .MeBox a.Username {
      display:inline-block;
      float:right;
      font-size:16px;
      line-height:1em;
    }

    .MeBox a.Username:hover {
      color:#ddd !important;
    }

     .MeMenu {
      display:inline-block;
      float:right;
    }

     #Head .MeMenu a {
      font-weight:normal;
    }

      .MeMenu a.MeButton {
        margin-left:10px;
        padding:0;
      }

      #Head .MeMenu ul.PopList li.Item a {
        color:#004d9f;
      }

      #Head .MeMenu ul.Poplist li.Item:hover {
        background:rgba(0, 0, 0, 0.1);
      }

    .MeMenu .Sprite16 {
      background-image:url('http://vanillicon.com/sprites/sprites-14-ffffff.png') !important;
    }

    .MeMenu .Sprite16:hover {
      background-image:url('http://vanillicon.com/sprites/sprites-14-dddddd.png') !important;
    }

      .MeMenu .SpNotifications {
        background-position:-160px -100px;
      }

      .MeMenu .SpInbox {
        background-position:-100px -100px;
      }

      .MeMenu .SpBookmarks {
        background-position:-80px -80px;
      }

      .MeMenu .SpOptions {
        background-position:-180px -60px;
      }

.MeBox .Flyout {
  left: inherit;
  right: -8px;
}

  .MeBox .Flyout:before,
  .MeBox .Flyout:after {
    left: auto;
    right: 9px;
  }


/*------------------------------
Breadcrumbs
------------------------------*/

.breadcrumbs_row {
    background: #1e79a7;
    margin-bottom: 20px;
    overflow: visible;
    width: 100%;
}

    .BreadcrumbsWrapper {
        margin: 0 auto;
        max-width: 980px;
    }

    .BreadcrumbsWrapper a {
        color: #fff;
        display: inline-block;
        font-size: 16px;
        line-height: 1em;
        padding: 10px 10px 11px 10px;
        text-decoration: none;
    }

    .BreadcrumbsWrapper a:hover,
    .BreadcrumbsWrapper a:focus {
        background: #1a678f;
        color: #fff;
        text-decoration: none;
    }

    .BreadcrumbsWrapper .Crumb {
        color: #eee;
        display: inline-block;
        font-size: 16px;
        line-height: 1em;
        padding: 10px 0;
    }


/*------------------------------
Content
------------------------------*/

#Body .ContentColumn {
  display: inline-block;
  float: left;
  margin: 0;
  width: 640px;
}

.Button:hover,
.Button:focus {
  text-decoration: none;
}

.ContentColumn .Excerpt,
.ContentColumn .Message {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
}

#Form_Comment .Back {
  display: none;
}

.Item .Reactions > * {
  visibility: visible;
}

.PageControls {
  margin: 10px 0;
}

.DataBox-Comments,
.FormTitleWrapper  {
  clear: both;
}

.BeforeCommentHeading {
  margin: 10px 0;
}

#PagerAfter {
  margin-bottom: 20px;
}

.NumberedPager a,
.NumberedPager .Ellipsis,
.NumberedPager .Previous,
.NumberedPager .Next {
  display: inline-block;
  font-size: 14px;
  font-weight: 200;
  height: 24px;
  margin: 0 4px 0 0;
  min-width: 24px;
  padding: 0;
  text-align: center;
}

.NumberedPager a {
  background-color: #eee;
  border-radius: 12px;
  color: #1a678f !important;
  line-height: 24px;
}

.NumberedPager a:hover,
.NumberedPager a:focus {
  background-color: #ddd;
  color: #004d9f;
  text-decoration: none;
}

.PageTitle h1,
.Column .Title a {
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
}

.Rank {
  background-color:#eee;
  border-radius:10px;
  padding:3px 7px;
}


/*------------------------------
Sidebar
------------------------------*/

#Panel {
  float:right;
  width:300px;
}

#Panel input#Form_Search {
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 4px;
}

#Panel .BigButton {
  background-color: #b00;
  border: 0;
  color: #fff;
  font-weight: normal;
  padding: 10px;
}

#Panel input#Form_Search,
#Panel .BigButton,
#Panel .BoxDiscussionFilter,
#Panel .GuestBox {
  margin-bottom: 20px;
}

#Panel a.BigButton:hover,
#Panel a.BigButton:focus {
  background-color: #c00;
  text-decoration: none;
}

#Panel a.BigButton:active {
  background-color: #a00;
}

#Panel input#Form_Go {
  display:none;
}

ul.sidebar_ads {
  list-style:none;
  margin:0 0 20px 0;
}

ul.sidebar_ads li {
  margin-bottom:10px;
  width:300px;
}


/*------------------------------
Footer
------------------------------*/

#Foot {
  background-color: #ddd;
  min-height:160px;
  padding:28px 0;
}

#footer p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 1em 0;
}

#footer #footer_text {
  padding-left: 157px;
  text-align: left;
}

#footer #footnotes {
  text-align: right;
}


/*------------------------------
Userful Stuff
------------------------------*/

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.clear {
  clear: both;
}

.remove_bottom {
  margin-bottom: 0 !important;
}
